/*Style for banner*/
.banner {
    width: 100%;
    height: 20px; /* Adjust the height as needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Add any other styles you want */
  }
  .sliderImage{
    height: 20px
  }
/* .custom-slider{
  margin: 0 -30px;
} */
.slider-container {
  position: relative;
}

.custom-slider .slick-dots {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom of the slider */
  list-style: none;
  padding: 0;
  text-align: center;
  width: 100%;
}

.custom-slider .slick-dots li {
  display: inline-block;
  margin: 5px 5px;
}

.custom-slider .slick-dots li button {
  font-size: 20px;
}
.slide-content {
  width: 100%;/* Ensure the image takes up the full width of the slide */
  height: 100%; /* Ensure the image takes up the full height of the slide */
  overflow: hidden; /* Hide any overflow content (e.g., for non-square images) */
  padding: 0 10px; 
}
.slide-content img {
  width: 100%; /* Ensure the image takes up the full width of the container */
  height: 100%; /* Ensure the image takes up the full height of the container */
  object-fit: cover; 
  /* Maintain aspect ratio while covering the entire container */

}

.slick-slide {
  margin: 0 10px;
}
